.DS_Store
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
serviceprincipal.json
helm-v3.1.2-linux-amd64.tar.gz
captureorder-ingress-tls.yaml
captureorder-ingress.yaml
captureorder-deployment-flexvol.yaml
frontend-deployment.yaml
frontend-ingress-tls.yaml
frontend-ingress.yaml
letsencrypt-clusterissuer.yaml
azch-loadtest/
azch-frontend/
azch-captureorder/
linux-amd64/